<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llb.mapper.UserMapper">
	<!-- 插入 -->
	<insert id="insert" parameterType="User">
		insert into wx_user(
		     openid,
		     nickname,
		     avatarurl,
		     gender,
		     country,
		     province,
		     city,
		     language,
		     ctime,
		     logintime,
		     logouttime,
		     phone
		     )
		values (
		     #{openid},
		     #{nickName},
		     #{avatarUrl},
		     #{gender},
		     #{country},
		     #{province},
		     #{city},
		     #{language},
		     #{ctime},
		     #{loginTime},
		     #{logoutTime},
		     #{phone}
		     )
	</insert>
	<!-- 查询 -->
	<select id="query" resultType="Map" parameterType="String">
		select openid,nickname, avatarurl, gender, country, province,
		city, language , DATE_FORMAT(ctime,'%Y-%m-%d %H:%i:%s') as ctime,
		DATE_FORMAT(logintime,'%Y-%m-%d %H:%i:%s') as logintime,
		DATE_FORMAT(logouttime,'%Y-%m-%d %H:%i:%s') as logouttime,
		phone, count
		from wx_user
		<where>
			<if test="name != null and name != ''">
				and openid like concat('%', #{name} , '%')
			</if>
		</where>
	</select>
	<!-- 修改-->
	<update id="update">
		update wx_user set
			<if test="nickName != null">
				nickname = #{nickName},
			</if>
			<if test="avatarUrl != null">
				avatarurl = #{avatarUrl},
			</if>
			<if test="gender != null">
				gender = #{gender},
			</if>
			<if test="country != null">
				country = #{country},
			</if>
			<if test="province != null">
				province = #{province},
			</if>
			<if test="city != null">
				city = #{city},
			</if>
			<if test="language != null">
				language = #{language}
			</if>
			<if test="phone != null and phone != ''">
				phone = #{phone},
			</if>
			<if test="loginTime != null and loginTime != ''">
				logintime = #{loginTime},
			</if>
			<if test="logoutTime != null and logoutTime != ''">
				logouttime = #{logoutTime},
			</if>
		    where openid = #{openid}
	</update>
	<select id="findByOpenid" resultType="User">
		select * from wx_user where openid=#{openid}
	</select>
	<!-- 通用查询 -->
	<select id="find" resultType="map">
		select * from wx_user
		<where>
			<if test="nickName != null and nickName != ''">
				and nickname like concat('%', #{nickName} , '%')
			</if>
		</where>
	</select>
	<!-- 获取记录数 -->
	<select id="totalCount" resultType="long">
		select count(*) from wx_user
		<where>
			<if test="nickName != null and nickName != ''">
				and nickname like concat('%', #{nickName} , '%')
			</if>
		</where>
	</select>
	<!-- 删除 -->
	<delete id="delete">
		delete from wx_user
		<where>
			<if test="openids != null and openids != ''">
				openid in
				<foreach item="item" index="index" collection="openids"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</delete>
</mapper>