<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/rubbish/css/add.css}" rel="stylesheet" type="text/css"/>
<script th:src="@{/js/jquery-2.1.1.min.js}" type="text/javascript"></script>
<link th:href="@{/sweetalert2/dist/sweetalert2.min.css}" rel="stylesheet" >
<script th:src="@{/sweetalert2/dist/sweetalert2.min.js}"></script>
<script th:src="@{/js/common.js}" type="text/javascript"></script>
<script th:src="@{/rubbish/js/add.js}" type="text/javascript"></script>
</head>
<body>
<div class="body-box">
    <div class="header">
        <h2>添加垃圾</h2>
    </div>
    <div class="form-outer-box">
        <div class="form-box">
            <div class="row">
                <span class="lbl">名称：</span>
                <input name="name" class="inp">
            </div>
            <div class="row">
                <span class="lbl">分类：</span>
                <select name="categoryId" class="page_combox" data-url="/category/findAll">
		           
		        </select>
            </div>
            <div class="row">
                <span class="lbl">热门：</span>
                <select name="hot">
                  <option value="no">否</option>
		          <option value="yes">是</option>
		        </select>
            </div>
            <div class="row">
                <a href="javascript:;" class="btn sub-btn">提交</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>