<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>垃圾-垃圾分类系统</title>
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/rubbish/css/list.css}" rel="stylesheet" type="text/css"/>
<script th:src="@{/js/jquery-2.1.1.min.js}" type="text/javascript"></script>
<link th:href="@{/lib/layui/css/layui.css}" rel="stylesheet" >
<link th:href="@{/sweetalert2/dist/sweetalert2.min.css}" rel="stylesheet" >
<script th:src="@{/sweetalert2/dist/sweetalert2.min.js}"></script>
<script th:src="@{/js/common.js}" type="text/javascript"></script>
<script th:src="@{/rubbish/js/list.js}" type="text/javascript"></script>
<link th:href="@{/lib/layui/css/layui.css}" rel="stylesheet" >
<script th:src="@{/js/jquery-2.1.1.min.js}" type="text/javascript"></script>
</head>
<body>
<div class="body-box">
    <div class="header">
        <h2>垃圾列表</h2>
    </div>
    <div class="search-box">
        <form th:action="@{/rubbish/list}" method="post">
	        <input name="name" id="name" th:value="${name}">
	        <button type="submit" class="btn">查询</button>
	        <a th:href="@{/rubbish/addPage}">添加垃圾</a>
        </form>
    </div>
    <div class="table-box">
        <div class="table-head">
            <span>名称</span>
            <span>分类</span>
            <span>热门</span>
            <span>操作</span>
        </div>
        <div class="table-body" id="rubbishList"></div>
<!--        分页-->
        <div id="page"></div>
    </div>
</div>
<script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
<script th:inline="javascript">
    var ctx = [[@{/}]]
</script>
<script>
    layui.use('laypage', function() {

        var laypage = layui.laypage;
        var name = $("#name").val();
        //分页
        laypage.render({
            elem: 'page' //注意，这里的 test1 是 ID，不用加 # 号
            , count: [[${count}]] //数据总数，从服务端得到
            , limit: 10
            , limits: [10, 20, 30, 40, 50]
            , curr: 1                        //起始页
            , groups: 5                      //连续页码个数
            , prev: '上一页'                 //上一页文本
            , next: '下一页'                 //下一页文本
            , first: 1                      //首页文本
            , last: '总页数'
            ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
            , jump: function (obj, first) {

                $.ajax({
                    url: ctx + "rubbish/pageList",
                    type: "post",
                    datatype: "json",
                    data: {name: name, page: obj.curr, limit: obj.limit},
                    success: function (result) {
                        var table = document.getElementById('rubbishList');
                        var html = "";
                        var item = result.list;
                        for (var i = 0; i < result.list.length; i++) {
                            //拼接表格
                            html += '<div class="row">' +
                                '<span>'+ item[i].name +'</span>' +
                                '<span>'+ item[i].categoryName +'</span>' +
                                '<span>'+ item[i].hot +'</span>' +
                                '<span>' +
                                '<a href="/rubbish/rubbish/updatePage?dbid= '+ item[i].dbid +'">编辑 </a>'+
                                '<a href="javascript:;" class="delete-btn" data-dbid="'+ item[i].dbid +'">删除</a>'+
                                '</span>'+
                                '</div>';
                        }

                        $("#rubbishList").empty();
                        table.innerHTML = '';
                        table.innerHTML = html;
                    },
                    error: function (response) {
                        console.log("出错返回: " + response);
                        console.log("出错数据: " + JSON.stringify(response));
                    }
                });
            }
        });
    });

</script>
</body>
</html>